<div id="<%= dom_id users_setting %>">
  <%= h1 Users::Setting.model_name.human, class: "my-default" %>

  <div class="horizontal-center gap-2 my-default">
    <div class="font-medium"><%= Users::Setting.human_attribute_name :user_id %>:</div>
    <%= users_setting.user_id %>
  </div>
  <div class="horizontal-center gap-2 my-default">
    <div class="font-medium"><%= Users::Setting.human_attribute_name :editor_type %>:</div>
    <%= users_setting.editor_type %>
  </div>
</div>
