<div class="flex flex-col items-center">
  <%= form_with(model: user, class: "contents") do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mb-6">
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex mb-3">
      <%= form.check_box :terms_of_service %>
      <%= form.label :terms_of_service, User.human_attribute_name(:terms_of_service) %>
    </div>

    <div>
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>
