<% unless Rails.env.test? %>
  <div
    data-controller="wysiwyg"
    data-wysiwyg-body-class-value="<%= wysiwyg_class %>"
    data-wysiwyg-content-css-value="<%=
      [
        asset_path("tailwind.css"),
        asset_path("wysiwyg.css"),
        prism_theme_css,
      ].to_json
    %>"
    class="<%= local_assigns[:class_name] %>"
  >
    <%= yield %>
  </div>
<% else %>
  <%= yield %>
<% end %>
