<div class="wrapper">
  <%= h1 @chart_view.gemnames.join(" vs "), title: false, class: "my-default" %>

  <%= render "shared/search", gemnames: @chart_view.gemnames %>

  <div class="mt-8">
    <div class="mb-8">
      <div
        data-controller="compare--chart-period-select"
        data-compare--chart-period-select-path-value="<%= chart_path @chart_view.query, ":period" %>">
        <%= select_tag(
              "period",
              options_for_select(
                ChartView::PERIODS.map { |period| [t(".#{period}"), period] },
                ChartView::DEFAULT_PERIOD
              ),
              "data-compare--chart-period-select-target": "select",
              "data-action": "compare--chart-period-select#change"
            ) %>
      </div>
    </div>

    <turbo-frame id="chart">
      <div class="h-64 flex justify-center items-center">
        <%= svg "loading.svg", class: "animate-spin w-12 h-12 text-primary-400" %>
      </div>
    </turbo-frame>
  </div>
</div>
