<%= form_with(model: post, class: "contents") do |form| %>
  <%= render "shared/form_errors", errors: post.errors %>

  <div class="vertical my-default">
    <%= form.label :title %>
    <%= form.text_field :title, class: "text-field" %>
  </div>

  <div class="vertical my-default">
    <%= form.label :content %>
    <%= render "shared/wysiwyg", className: "min-h-[30rem]" do %>
      <%= form.text_area :content %>
    <% end %>
  </div>

  <div class="horizontal my-default">
    <%= form.check_box :published %>
    <%= form.label :published %>
  </div>

  <%= form.submit class: "button-primary my-default" %>
<% end %>
