<div id="<%= dom_id post %>">
  <h1 class="title my-default"><%= title post.title %></h1>

  <div class="horizontal my-default">
    <div class="font-medium"><%= t(post.published ? ".publishing" : ".unpublished") %></div>
  </div>

  <div class="my-default">
    <div class="<%= wysiwyg_class %>">
      <%== post.content %>
    </div>
  </div>
</div>
