<div id="<%= dom_id post %>">
  <h1 class="title my-default"><%= title post.title %></h1>

  <div class="horizontal my-default">
    <div class="font-medium"><%= t(post.published ? ".publishing" : ".unpublished") %></div>
  </div>

  <div class="my-default">
    <%= render "shared/wysiwyg_viewer" do %>
      <%== post.content %>
    <% end %>
  </div>
</div>
