<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: t("title") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if ga_measurement_id.present? %>
      <%= render "layouts/google_analytics" %>
    <% end %>

    <%= render "layouts/wysiwyg_head" %>
  </head>

  <body>
    <%= render "layouts/header", user: current_user %>
    <main class="container mx-auto sm:px-6">
      <%= render "layouts/messages" %>
      <%= yield %>
    </main>

    <%= render "layouts/wysiwyg_body" %>
  </body>
</html>
